
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.cust-nav{
    /* padding: 20px auto !important; */
    /* height: 70px; */
    z-index: 1000;
    background-color: #fff;
}
.cust-nav__logo{
    margin: 0;
}
.cust-nav__menu{
    /* margin-left: 40px; */
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    border: none;
    background: transparent;
}
.cust-nav__hover{
    position: relative;
    /* display: inline-block; */
}
.cust-nav__hover-content{
    position: absolute;
    display: none;
    background-color: #f1f1f1;
    /* width: auto; */
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.cust-nav__hover-content a {
    color: black;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}
.cust-nav__hover-content a:hover {
    background-color: #ddd;
}
.cust-nav__hover:hover .cust-nav__hover-content{
    display: block;
}
/* .cust-nav__hover:hover .cust-nav__menu{
    background-color: #000;
    color: #ffffff !important;
} */

.cust-nav__contact-btn{
    font-family: 'Roboto', sans-serif;
    background-color: #5268ff;
    color: #ffffff;
    padding: 7px 23px;
    border-radius: 5px;
} 

.cust-nav__contact-btn:hover{
    background: #5376ff;
    color: #ffffff;
}


/* BEST CHOICE SECTTION */

.best-choice{
    padding: 100px 0;
}
.best-choice__sub-title{
    font-family: 'Roboto', sans-serif;
    color: #929292;
}
.best-choice_head-title{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    max-width: 370px;
    font-weight: 700;
    line-height: 60px;
    color: #000000;
}
@media only screen and (max-width: 767px) {
    .best-choice_head-title{
        font-size: 40px;
        line-height: 50px;
    }
}
.best-choice_head-title span{
    color: #5268ff;
}
.best-choice__disc{
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    font-weight: normal;
    line-height: 1.5;
    margin: 28px 0 35px;
    color: #353942;
}
.best-choice__img img{
    width: 100%;
    border-radius: 10% 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .best-choice__img img{
        height: 450px;
    }
}


/* ABOUT TECHARA SECTION */
.about-techara{
    background-color: #fff8f8;
    padding: 70px 0;
}
.about-techara__img img{
    width: 100%;
    border-radius: 0 10%;
    height: 450px;
}
@media only screen and (max-width: 767px){
    .about-techara__img img{
        height: 100%;
    }
}
.about-techara__col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-techara__title{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}

.about-techara__disc{
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    font-weight: normal;
    line-height: 1.5;
    /* margin: 28px 0px; */
    color: #353942;
}
/* .about-techara__disc-short{
    max-width: 400px;
    font-weight: normal;
    line-height: 1.5;
    color: #353942;
} */


.services{
    padding: 100px 0;
}
.services__disc{
    font-family: 'Roboto', sans-serif;
    max-width: 550px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
    /* margin: 28px 0px 20px; */
    color: #000000;
}

.services__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.services__wrapper{
    padding: 70px;
    box-shadow: 0px 0px 7px #ccc;
    border-radius: 10px;
}
@media only screen and (max-width: 768px) {
    .services__wrapper{
        padding:30px;}
}

@media only screen and (max-width: 1024px) {
    .services__wrapper{
        padding:30px;}
}
.service__wrapper-icon img{
    width: 50px;
}
.services__discover_ui-ux{
    margin-top: 82px;
}
.services__discover a{
    font-family: 'Roboto', sans-serif;
    color: #5268ff;
    text-decoration: none;
}
.owl-carousel .services_right-arrow{
    width: 25px !important;
    height: 25px !important;
    margin: auto 0 auto 5px;
}
/* .services_right-arrow{
    width: 35px !important;
} */
/* .services_right-arrow{
    width: 30px;
    height: 25px;
} */
/* .service__contents{
    text-align: center;
} */

.our-portfolio .owl-carousel .owl-nav{
    display: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #5268ff !important;
    opacity: 1;
    width: 13px;
    height: 12px;
}

.owl-theme .owl-dots{
    margin-top: 35px;
}

.owl-theme .owl-dots .owl-dot span{
    background: #5268ff !important;
    opacity: 0.3;

}

.our-portfolio__wrapper{
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 2px 4px 10px #ccc;
}
.our-portfolio__img img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
}   
.our-portfolio__content-wrap{
    padding: 10px 10px   20px;
    border-bottom: 1px solid #ccc;
}
.our-portfolio__label{
    font-family: 'Roboto', sans-serif;
    clear: #000000;
}
.our-portfolio__sub-label{
    font-family: 'Roboto', sans-serif;
    color: #5268ff;
    font-weight: normal;
}
.our-portfolio__disc{
    font-family: 'Roboto', sans-serif;
    color: #929292;
    font-weight: normal;
    max-width: 280px;
}
.our-portfolio__view-project a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #5268ff;
}


.testimonials{
    background: #fff8f8;
    /* padding: 70px 0; */
}
.testimonials__title {
    max-width: 400px;
}
.testimonials__title span{
    color: #5268ff;
}
.testimonials__contents-wrap{
    padding: 20px;
    font-size: 15px;
    box-shadow: 0px 0px 19px #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    color: #4d5058;
    font-weight: 500;
}
.testimonials__contents-wrap p{
    font-family: 'Roboto', sans-serif;
}
/* .testimonials__details{
} */
.testimonials__details-img{
    width: 50px;
    border-radius: 50%;
}
.testimonials__details p {
    font-family: 'Roboto', sans-serif;
}
.testimonials__details-labels{
    color: #7f7f7f;
    font-weight: 600;
}
.testimonials__details-labels_prof{
    font-weight: 400;
    font-size: 14px;
}


.get-started{
    padding: 100px 0;
}
.get-started__title{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
@media only screen and (max-width: 767px) {
    .get-started__title{
        font-size: 40px;
        line-height: 50px;
    }
}
.get-started__title span{
    color: #5268ff;
}   
.get-started__disc{
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    margin: auto;
    color: #929292;
}
.get-started__btn{
    font-family: 'Roboto', sans-serif;
    background-color: #5268ff;
    color: #ffffff;
    padding: 7px 20px;
    border-radius: 7px;
}
.get-started__btn:hover{
    background-color: #5376ff;
    color: #ffffff;
}

.footer-techara{
    background: #000947;
    
}

.footer-techara__logo{
    width: 50px;
}
.footer-techara__services a{
    text-decoration: none;
}
.footer-techara__copyright-content, .footer-techara__services-labels{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    /* color: #b7b9cb; */
}

.footer-techara__services-title{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
.footer-techara__services-labels{
    margin: 1rem 0 0;
}


/* Media Query */
@media only screen and (max-width: 678px) {
    
    .best-choice{
        padding: 80px 0;
    }
    /* .best-choice_reverse-col{
        flex-direction: column-reverse;
    } */
    .best-choice_contents{
        padding: 0 0 35px 0;
        text-align: center;
    }
    .about-techara__contents{
        padding: 20px 0 0;
    }
    .services{
        padding: 50px 0;
    }
    .services__wrapper{
        margin: 20px 0 30px;
    }
    /* .services__wrapper:first-child{
        margin: 0;
    } */

    .footer-techara{text-align: center;}
    .footer-techara__services{
        margin: 50px 0 0;
    }
    
}